<!--
  Student Name: Sones
  File Name: home.html
  Date:08/26/2023
--> 
<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org"> 
<head>
    <title>I am Earth</title>
    <meta charset="utf-8">

</head>

<body>
  <header>
    <h2> A message to biologicals...</h2>
    <h3>I am Earth</h3>
  </header>
  <nav>
    <a href="home.html">Home</a>&nbsp; &#9672; &nbsp;
    <a href="message.html">a message to biologicals</a> &nbsp; &#9672; &nbsp;  
  </nav>

<!-- Use the main area to add the main content to the webpage -->
  <main>
    <div>
        <p>And I condemn the ill mannered "leaders" who feel as if global warming is bull, but climate change is real because the climate changes.</p>
    <h3>Specifically to those who have the means to change fate,</h3>
    <h2>watch yourself</h2>
    </div>
  </main>
  <footer>
    <p>&copy; Copyright 2023. All Rights Reserved.</p>
<p><a href = "mailto: earth@planetary.net"></a></p> 
  </footer>

</body>
</html>
